.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 1px solid #000000;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  position: absolute;
  color: #ffffff;
}

.switch__slider-F {
  left: 1px;
}

.switch__slider-C {
  right: 1px;
}

.switch__temp-F {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 0;
  top: 5px;
  left: 9px;
}

.switch__temp-C {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 0;
  top: 5px;
  right: 9px;
}

.switch__active {
  font-size: 16px;
  color: white;
}
