@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../../../vendor/fonts/cabinet-grotesk/CabinetGrotesk-Medium.otf)
    format("woff");
}

.card {
  max-width: 323px;
  max-height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 8%;
}

.card__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #ffffff;
  padding: 2px 12px 2px 12px;
  color: #000000;
  opacity: 60%;
}

.card__image {
  width: 100%;
  border-radius: 8%;
}
