@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../../../vendor/fonts/cabinet-grotesk/CabinetGrotesk-Medium.otf)
    format("woff");
}

.weather__card {
  position: relative;
  display: flex;
  height: 80px;
}

.weather__card-temp {
  margin: 0;
  position: absolute;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  top: 20px;
  left: 16px;
}

.weather__card-img {
  width: 100%;
  object-fit: cover;
  object-position: right top;
}
